/* Body background color */
body {
  background-color: #202020;
  height: 100vh;
  margin: 0;
}

/* Container to center the content */
.container {
  position: relative;
  top: 100px;
  left: 100px;
}

/* White box for the content */
.p-text {
  background-color: #ffffff;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  /* z-index: 1; */
}

/* Pink header box */
.h-text {
  background-color: #ff0095;
  height: 70px;
  width: 350px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px; /* Moves it up to overlap the white box */
  left: 50%; /* Centers it horizontally */
  transform: translateX(-50%); /* Centers it horizontally */
  z-index: 2;
}

/* Header text styling */
.h-text h1 {
  margin: 0;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

/* Paragraph text styling */
.p-text p {
  margin-top: 40px;
  font-size: 16px;
  /* font-weight: bold; */
  line-height: 1.5;
  color: #333333;
}
@media screen and (max-width: 425px) {
  .p-text {
    width: 100%;
  }
  .container {
    position: absolute;
    top: 50px;
    left: 0px;
  }
  .h-text {
    width: 70%;
  }
}
